@if (loading()){
<p>Loading movies...</p>
} @else {
<div class="movie-list">
  <div class="navigation">
    <button [routerLink]="['/swipe']" class="swipe-btn">Discover Movies</button>
    <button [routerLink]="['/config-profile']" class="profile-config-btn">
      Config
    </button>
  </div>
  <div class="search-bar">
    <div class="text-filter">
      <input
        type="text"
        placeholder="Search for movies, directors & actors"
        (input)="onSearchTermChange($event)"
      />
    </div>
    <div class="genre-filter">
      @for (genre of uniqueGenres(); track $index) {
      <input
        type="checkbox"
        [value]="genre"
        (change)="onGenreCheckboxChange(genre, $event)"
      /><label>{{ genre }}</label>
      }
    </div>
    <div class="rating-filter">
      <label>Rating:</label>
      <input
        type="range"
        min="0"
        max="10"
        value="0"
        (input)="onRatingChange($event)"
      /><span> {{ minRating() }}</span>
    </div>
  </div>

  @for (movie of filteredMovies(); track movie.id) {
  <a [routerLink]="['/movies', movie.id]">
    <div class="movie-card">
      <img
        [ngSrc]="movie.posterUrl"
        alt="{{ movie.title }} Poster"
        width="150"
        height="225"
      />
      <div>
        <h4>{{ movie.title }}</h4>
        <p><strong>Description: </strong>{{ movie.description }}</p>
        <p><strong>Date: </strong>{{ movie.releaseDate | date }}</p>
        <p><strong>Genre: </strong> {{ movie.genre.join(", ") }}</p>
        <p><strong>Duration: </strong> {{ movie.duration }} minutes</p>
        <p><strong>Rating: </strong> {{ movie.rating }}</p>
      </div>
    </div>
  </a>

  } @empty {
  <br />
  <p>No movies available.</p>
  }
  <!-- Back to Top Button -->
  @if(showBackToTop()){
  <button class="back-to-top-btn" (click)="scrollToTopAndCollapse()">
    ↑ Back to Top
  </button>
  }
</div>
<div #scrollTrigger class="scroll-trigger">
  @if (movieService.loadingMore()) {
  <div class="loading-mode">
    <p>Loading more movies...</p>
  </div>
  }
</div>
}
