/* Mobile */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-list a {
  text-decoration: none;
  color: inherit;
}

.swipe-navigation{
  padding: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}

.genre-filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.movie-card img {
  width: 80vw;
  height: auto;
}

/* Desktop */
@media (min-width: 48rem) {

  .movie-list {
    flex-direction: column;
  }

  .movie-list a {
  }

  .search-bar {
  }

  .genre-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .movie-card {
    flex-direction: row;
    gap: 1rem;
  }

  .movie-card img {
  width: 18.75rem;

}

}


