<nav class="navigation">
  <div class="nav-links">
    <button [routerLink]="['/']" class="nav-btn">Home</button>
    <button [routerLink]="['/swipe']" class="nav-btn">Discover Movies</button>
  </div>

  <div class="user-section">
    @if (isAuthenticated()) {
    <span class="user-greeting">Hello, {{ currentUserName() }}!</span>
    <button [routerLink]="['/config-profile']" class="nav-btn">Config</button>
    <button (click)="logout()" class="logout-btn">Logout</button>
    } @else {
    <span class="user-greeting">Guest User</span>
    <button [routerLink]="['/config-profile']" class="nav-btn">Config</button>
    <button [routerLink]="['/login']" class="login-btn">Login</button>
    }
  </div>
</nav>
